body {
    background-image: url('media/bg3.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.motDePasse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 100px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #fff;
    filter: drop-shadow(3px 0 1px red) drop-shadow(-3px 0 1px cyan);

}

.motDePasse:hover {
    animation: none;
}

.form {
    width: 280px;
    background-color: whitesmoke;
}


form {
    display: flex;
    flex-direction: column;

}

label {
    margin-bottom: 10px;
    align-self: center;
}

input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: cyan;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s ease-in-out;

}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    box-shadow: -0.3em 0 red, 0.3em 0 cyan;
}

.form a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

li {
    list-style: none;
    margin-top: 15px;
    font-size: 12px;
}


@keyframes anaglyphe {
    to {
        filter: drop-shadow(-2px 0 0.5px red) drop-shadow(2px 0 0.5px cyan);
    }
}

@media screen and (max-width: 768px) {

    body {

        background-image: url('media/anaglyph-102548_1280_180.jpg');
        background-size: cover;
    }

    .motDePasse {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}